.new-tweet-form{
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  label{
    display: flex;
    gap: 0.75rem;

    img{
      @include mixins.icon;
    }

    textarea{
      flex: 1;
      border: 0;
      font-size: 1.25rem;
      font-weight: 500;
      margin-top: 0.75rem;
      resize: none;

      &:focus{
        outline: none;
      }

      &::placeholder{
        color: vars.$secondary-color;
      }
    }
  }
  
  button[type=submit]{
    margin-left: auto;
    background: vars.$twitter-blue;
    border-radius: 9999px;
    padding: 0.75rem 1.5rem;
    color: vars.$primary-color;
    font-size: 1rem;
    font-weight: 900;
    border: 0;

    &:hover{
      filter: brightness(0.9);
    }
  }
}