.layout{
  margin: 0 auto;
  max-width: 1000px;
  min-height: 100vh;
  
  display: grid;
  grid-template-columns: 300px 1fr;

  @include breakpoints.media-max(m){
    grid-template-columns: 80px 1fr
  }
};
.content{
  border-left: 1px solid vars.$border-color;
  border-right: 1px solid vars.$border-color;
};